<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco - Offer</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
</head>

<body class="bg-white text-gray-800">
    <div class="container mx-auto p-8">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="flex flex-col items-center">
                <div>
                    <h2 class="text-2xl font-semibold mb-4">Trade Details</h2>
                    <div class="border-t border-gray-300 pt-4">
                        <p class="text-gray-600">
                            You send
                            <strong>{{.inputValue}} {{.inputCurrency}}</strong>
                        </p>
                        <p class="text-gray-600">
                            You receive
                            <strong>{{.outputValue}} {{.outputCurrency}}</strong>
                        </p>
                        <p class="text-gray-600" hx-get="/offer/{{.id}}/status" hx-swap="innerHTML">
                            Status: <strong>{{.status}}</strong>
                        </p>
                        <p class="text-gray-600"> Created: {{.date}}</p>
                    </div>
                </div>
                {{if (not (or (eq .status "Fulfilled") (eq .status "Cancelled") (eq .status "Expired")))}}
                <div class="border rounded-lg mt-8 p-4 w-full md:w-3/4 lg:w-1/2">
                    <div id="qrcode" class="mx-auto"></div>
                </div>
                <div class="flex mt-4 w-full md:w-3/4 lg:w-1/2">
                    <input id="walletAddress" type="text" value="{{.address}}"
                        class="border rounded-l-lg p-2 flex-grow text-lg" readonly>
                    <button onclick="copyToClipboard()"
                        class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded-r-lg">
                        Copy
                    </button>
                </div>
                <button onclick="payWithMarina()"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-4 rounded">
                    Pay with Marina
                </button>
                {{end}}
            </div>
            <div hx-ext="sse" sse-connect="/offer/{{.id}}/transactions" sse-swap="transactions">
                {{template "transactions.html" .}}
            </div>
        </div>
    </div>


    <script>
        async function payWithMarina() {
            // Send 0.007 LBTC to an address
            const { txid, hex } = await window.marina.sendTransaction(
                [
                    {
                        address: "{{.address}}", // the address of the recipient
                        asset: "{{.inputAssetHash}}", // the asset to send
                        value: Number("{{.inputAmount}}") // amount always expressed in satoshis
                    }
                ],
            );
        }
    </script>
    <script>
        new QRCode(document.getElementById("qrcode"), "{{.address}}");
    </script>
    <script>
        function copyToClipboard() {
            const copyText = "{{.address}}";

            // Create new element
            var el = document.createElement('textarea');
            // Set value (string to be copied)
            el.value = copyText;
            // Set non-editable to avoid focus and move outside of view
            el.setAttribute('readonly', '');
            el.style = { position: 'absolute', left: '-9999px' };
            document.body.appendChild(el);
            // Select text inside element
            el.select();
            // Copy text to clipboard
            document.execCommand('copy');
            // Remove temporary element
            document.body.removeChild(el);
        }
    </script>

    <style>
        .transaction-row {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }

        .transaction-id {
            font-weight: bold;
        }

        .block-hash,
        .block-time,
        .mempool-status {
            color: #888;
            margin-top: 5px;
        }

        .confirmed-transactions,
        .unconfirmed-transactions {
            margin-bottom: 20px;
        }
    </style>
</body>

</html>