<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banco Exchange</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white text-gray-800">
  <div class="min-h-screen flex items-center justify-center">
    <div class="max-w-lg mx-auto p-8">
      <form action="/trade" method="POST">
        <div class="grid gap-4">
          <div class="flex items-center justify-between p-4 border-2 border-gray-300 rounded-md">
            <select id="inputCurrency" name="inputCurrency">
              {{range .inputAssets}}
              <option value="{{.Ticker}}">{{.Ticker}} - {{.Name}}</option>
              {{end}}
            </select>
            <input type="text" name="inputValue" class="text-right font-semibold bg-transparent outline-none">
          </div>
          <div class="text-right text-sm">~ 18750 EUR</div>

          <div class="flex justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </div>

          <div class="flex items-center justify-between p-4 border-2 border-gray-300 rounded-md">
            <select id="outputCurrency" name="outputCurrency">
              {{range .outputAssets}}
              <option value="{{.Ticker}}">{{.Ticker}} - {{.Name}}</option>
              {{end}}
            </select>
            <input type="text" name="outputValue" class="text-right font-semibold bg-transparent outline-none">
          </div>
          <div class="text-right text-sm">~ 18000 EUR</div>
        </div>
        <div class="border border-gray-300 rounded-md p-4 mt-4 mb-2">
          <div class="mb-4">
            <label for="traderAddress" class="block text-sm font-medium text-gray-700">Receive at Address</label>
            <input type="text" name="traderAddress" id="traderAddress" onchange="onInputChange()"
              class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" placeholder="ex1..." />
          </div>
          <div class="mb-4 text-center" id="orText">or</div>
          <div class="mb-4">
            <button type="button" id="connectButton" onclick="connectMarina()"
              class="w-full px-4 py-2 bg-white border border-gray-300 rounded-md shadow-sm">Connect with
              Marina</button>
          </div>
        </div>
        <button disabled type="submit" id="tradeButton"
            class="w-full px-4 py-2 bg-blue-600 text-white rounded-md shadow-sm">Trade</button>
      </form>
    </div>
  </div>
</body>
<script src="https://unpkg.com/htmx.org"></script>
<script>
  window.onload = async function () {
    const isEnabled = await window.marina.isEnabled();
    const traderScript = localStorage.getItem('traderScript')
    const traderAddress = localStorage.getItem('traderAddress')

    if (isEnabled && traderScript && traderAddress)
      updateViewAfterConnect(traderScript, traderAddress);
  }

  async function onInputChange() {
    const input = document.getElementById('traderAddress')
    const traderAddress = input.value;
    const traderScript = input.value;

    if (!traderAddress) return;
    
    updateViewAfterConnect(traderScript, traderAddress);
  
    localStorage.setItem('traderScript', input.value);
    localStorage.setItem('traderAddress', input.value);
  }

  function updateHxGet() {
    var inputCurrency = document.querySelector("#inputCurrency").value;
    var outputCurrency = document.querySelector("#outputCurrency").value;
    var inputValue = document.querySelector("input[name=inputValue]").value;
    var outputValue = document.querySelector("input[name=outputValue]").value;

    var url = "/trade/preview?inputCurrency=" + encodeURIComponent(inputCurrency) + "&outputCurrency=" + encodeURIComponent(outputCurrency) + "&inputValue=" + encodeURIComponent(inputValue) + "&outputValue=" + encodeURIComponent(outputValue);

    document.querySelector("#inputCurrency").setAttribute("hx-get", url);
    document.querySelector("input[name=inputValue]").setAttribute("hx-get", url);
    document.querySelector("#outputCurrency").setAttribute("hx-get", url);
    document.querySelector("input[name=outputValue]").setAttribute("hx-get", url);
}

  async function connectMarina() {
    try {
      const isEnabled = await window.marina.isEnabled();

      // Ask user for permissions
      await window.marina.enable();

      const addresses = await window.marina.getAddresses();

      if (addresses.length === 0) {
        const { script, unconfidentialAddress } = await window.marina.getNextAddress();
        // updated view
        updateViewAfterConnect(script, unconfidentialAddress);

        // persist state
        localStorage.setItem('traderScript', script);
        localStorage.setItem('traderAddress', unconfidentialAddress);
      } else {
        const derivationPath = "m/0/0";
        let firstAddress;

        for (const address of addresses) {
          if (address.derivationPath === derivationPath) {
            firstAddress = address;
            break;
          }
        }

        const { script, unconfidentialAddress } = firstAddress;
        // updated view
        updateViewAfterConnect(script, unconfidentialAddress);

        // persist state
        localStorage.setItem('traderScript', script);
        localStorage.setItem('traderAddress', unconfidentialAddress);
      }
    } catch (error) {
      console.error(error);
    }
  }

  function updateViewAfterConnect(script, address) {
    // update the Liquid address input
    const traderInput = document.getElementById('traderAddress');
    traderInput.value = address;
    traderInput.disabled = true;

    // Update form buttons and texts
    const connectButton = document.getElementById('connectButton');
    const tradeButton = document.getElementById('tradeButton');
    const orText = document.getElementById('orText');

    tradeButton.innerText = 'Trade';    
    tradeButton.disabled = false;

    orText.style.display = 'none';

    connectButton.style.display = 'none';

    // Attach script taken from Marina step when Trade submit button is clicked
    // Attach the script to the form submission
    const scriptInput = document.createElement('input');
    scriptInput.type = 'hidden';
    scriptInput.name = 'traderScript';
    scriptInput.value = script;

    const form = document.querySelector('form');
    form.appendChild(scriptInput);
  }
</script>

</html>